header {
  width: 100vw;
  height: 100vh;
  background-color: #404eed;
  padding: 20px;
  z-index: 1;
  background-image: url("../assets/center_bg_landing_header.svg");
  background-size: cover;
  background-position: 90%;
  position: relative; /*a supprimer si beug*/
}

header h1 {
  text-align: center;
  color: white;
  margin-top: 80px;
  margin-bottom: 50px;
  line-height: 45px;
}

.header-text {
  text-align: center;
  line-height: 25px;
  color: white;
  margin: 0 auto;
  max-width: 550px;
  margin-bottom: 50px;
}

.discord-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.discord-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  max-width: 550px;
  border-radius: 25px;
  cursor: pointer;
  background-color: white;
  color: #23272a;
  font-size: 1rem;
  border: none;
  height: 35px;
  transition: 0.3s ease;
}

.discord-btn:hover{
  transform: scale(1.02);
}

button img {
  width: 15px;
  height: 15px;
  line-height: 0;
}

.discord-btn.open-browser {
  background-color: #23272a;
}

.discord-btn.open-browser a {
  color: white;
}

.landing-left-icon {
  position: absolute;
  bottom: 0;
  left: -10%;
  z-index: -1;
  display: none;
}

.landing-right-icon {
  position: absolute;
  bottom: 0;
  right: -10%;
  z-index: -1;
  display: none;
}


/* Tablet screen */
@media screen and (min-width: 801px) {
  .landing-left-icon{
    display: initial;
  }

  .landing-left-icon > img {
    width: 40vw;
    min-width: 350px;
    max-width: 700px;
  }

  .landing-right-icon{
    display: initial;
  }

  .landing-right-icon > img {
    width: 40vw;
    min-width: 350px;
    max-width: 700px;
  }
}

/* Laptop screen */

@media screen and (min-width: 1224px) {
  header {
    padding: 20px 80px;
  }

  .discord-btn-container {
    flex-direction: row;
    column-gap: 20px;
  }

  .discord-btn {
    height: 45px;
    font-size: 1.5rem;
  }

  button img {
    width: 25px;
    height: 25px;
  }
}
