*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body{
  overflow-x: hidden;
}

:root{
  font-size: 10px;
}

p, a, li{
  font-size: 1.2rem;
}

h1{
  font-size: 3.8rem;
}

/* Logo discord avec son titre */
.discord-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.discord-logo-container:hover{
  transform: scale(1.1);
}

.discord-logo-container > img{
  width: 35px;
}

.discord-logo-container > p{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  color: white;
}

@media screen and (min-width: 1224px) {
  :root{
    font-size: 12px;
  }
}